

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    scroll-behavior: smooth;
}

body {
    background-color:rgb(232, 234, 237);
}

.body {
    font-family: proxima-nova,sans-serif;
    color: #595959;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

    //margin-left:20%; margin-right:20%;
    max-width: 900px;
    margin-left: auto; margin-right:auto;
}

.body p {
    line-height: 1.9;
}

p, ol {
    margin-left:2em; margin-right:2em;
}

img {
      display: block;
      margin-left: auto; margin-right: auto; margin-bottom:20px; margin-top:20px;
      //padding:2px;
      //border:1px solid gray;
      //box-shadow: 0px 5px 10px #a8bad4;
      //box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
      max-width:100%;
}

//the default behavior
img.align-center {
      //margin-left: auto; margin-right: auto; margin-bottom:5px; margin-top:5px;
}
img.align-left {
      margin-left: 0; margin-right: auto;
}
img.align-right {
      margin-left: auto; margin-right: 0;
}

img.banner {
    margin-left:0; margin-right:0;
    padding-left:0; padding-right:0;
    border:none;
    box-shadow:none;
    width:100%;
    height:auto;
}


tt {
    padding:3px;
    border-radius:3px;
    color:#c7254e;
    background-color:rgb(249, 242, 244)
}

span.id-number {
    width:24px;
    height:24px;
    padding:auto;
    border-radius:12px;
    background:rgb(100, 136, 255);
    color:white;
    display:inline-block;
    text-align: center;
    font: 20px Arial, sans-serif;
    margin: 2px;
    margin-bottom: 0;
    margin-top: 0;
}

span.sf-version {

}

/*
ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
    content: counter(my-awesome-counter) " ";
    width:24px;
    height:24px;
    padding:auto;
    border-radius:12px;
    background:rgb(100, 136, 255);
    color:white;
    display:inline-block;
    text-align: center;
}
*/

.scalar-input {
    margin-left:2px;
    margin-right:2px;
    padding:3px;
    border-radius:3px;
    color:#c7254e;
    background-color:rgb(249, 242, 244)
}
.scalar-input:hover{
    background:#ef4570;
    color:#fff;
    cursor: pointer;
}
.scalar-input:active{
    background:#d82854;
}

.vector-input::before {
    content:'[';
    color: #c7254e;
}
.vector-input::after {
    content:']';
    color: #c7254e;
}
.vector-input .vector-copy {
    display:none
}


.figure p {
    text-align:center;
    font-size:10pt;
}

h2 {
    text-align:center;
    margin-left:80px;
}

h2:before {
    margin-top: 20px;
}
h2:after{
   content:'';
   background:rgba(0, 0, 0, 0.15);
   width:calc(100%+80px);
   height:1px;
   display:block;
   margin:auto;
   margin-left:-80px;
}

h3 {
    text-align:center;
}


blockquote {
    margin-inline-start: 0em;
}
ol {
    padding-inline-start: 2em;
}

ol li {
    margin: 0;
    margin-top: 0.5em; margin-bottom: 0.5em;
}

li p {
    margin: 0;
    padding: 0;
}

:root {
    --main-border-color: #385c8e;
    --main-background-color: #7793d6;
}


div.admonition {
    padding: 0;
    margin: 0;
    padding-left: 2em; padding-right: 2em;
    font-size:14px;
    font-family: Roboto;
    padding-top: 16px; padding-bottom: 16px;

    //display:inline-block;
    //display: flex;
    //justify-content:center;
    //align-items: start;
    width: 3em;

    opacity:0.5;

    border-top-right-radius:40px;
    border-bottom-right-radius:40px;

    //margin-right:100%;
}

div.admonition:hover {
    opacity:1;
}


div.admonition[active]{
    display:block;
    opacity:1;

    border-top-right-radius:0;
    border-bottom-right-radius:0;

    //margin-right:auto;
    width:auto;

}

div.admonition > * {
    display:none;
    padding: 0;
    margin: 0;
}

div.admonition[active] > * {
    display: inline;
}

.admonition blockquote, ul, li {
    margin-block-start: 0.25em;
    margin-block-end: 0.25em;
}

.admonition-title {
    font-weight: bold;
    padding-top: 5px; padding-bottom: 5px;
    margin-right: 0.5em;
    display: inline;
    cursor: pointer;
}

.admonition p.admonition-title {
    display: inline;
}


/*
.admonition[active=true] p.admonition-title:before {
    content: '<';
    margin-right:5px;
}
.admonition p.admonition-title:after {
    content: '>';
    margin-left:5px;
}
.admonition[active] p.admonition-title:after {
    content: '';
}
*/

.note {
    background-color:rgb(225, 245, 254);
    color:rgb(1, 87, 155);
}

.warning {
    background-color:rgb(252, 232, 230);
    color:rgb(213, 0, 0);
}

.tip {
    background-color:rgb(244, 252, 248);
    color:rgb(37, 193, 111);
}

.section {
    margin-bottom:20%;
}

/* The navigation bar */
.section-navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed; /* Set the navbar to fixed position */
  top: 50%; /* Position the navbar at the top of the page */
  left: 50%;
  padding: 0;
  margin: 0;
  width: 100%; /* Full width */
  max-width: 1100px;
  transform: translate(-50%, 0%);
  display:none;
}

.section-navbar button.previous {
    float:left;
    align:bottom;
}

.section-navbar button.next {
    float:right;
}

button.scrolling {
    border: none;
    background-color:transparent;
    //background-color:rgba(43, 43, 43, 0);
    //color: #385c8e;
    //color: #a8bad4;
    color: rgba(168, 186, 212, 0.75);
    font-size:14pt;
    border-radius: 20px;
    width:40px;
    height:40px;
    outline:none;
    transition: all 0.2s ease-out;
    font-family: curier;

    float: right;
    margin-bottom: 20px;
}

button.scrolling:hover {
    background-color:rgba(168, 186, 212, 0.5);
    border: 1px solid rgba(168, 186, 212, 0.75);
    color:white;
}
button.scrolling:active {
    //background-color: #a8bad4;
    background-color:rgba(168, 186, 212, 0.75);
    border: 1px solid rgba(168, 186, 212, 0.75);
    color:white;
}

button.scrolling.previous:before {
    content: '<'
}

button.scrolling.next:after {
    content: '>'
}


.copy-tooltip {
  position: relative;
  display: inline-block;
}

.copy-tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -150%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}


/*
.copy-tooltip .copy-tooltiptext::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/

.copy-tooltip[active=true] .copy-tooltiptext {
  visibility: visible;
  opacity: 1;
}