{% extends "!simple/article.html" %}


{% block head %}
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css" type="text/css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
      <select class="sf-version" onchange="location = this.value;">
          <option value="https://sim-flow.com">SimFlow {{article.version}}</option>
      </select>
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>

<div class="section-navbar">
    <button class="scrolling previous"></button>
    <button class="scrolling next"></button>
</div>


<!--<script>-->
<!--    $('button.back').click(function() {-->
<!--    $.scrollTo($(this).closest('section').prev(),800);-->
<!--    console.log('scrolling back');-->
<!--    });-->

<!--    $('button.next').click(function() {-->
<!--        $.scrollTo($(this).closest('section').next(),800);-->
<!--    });-->
<!--</script>-->

<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/scrolling.js"></script>

{% endblock %}

{% block footer %}
{% endblock %}
